/*p=#00838F*/

.download{
    width: 167px;
    height: 47px;
    background: #E0F7FA;
    border: 1px solid #00838F;
    box-sizing: border-box;
    border-radius: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}
